cffi~=1.17
cryptography~=44.0
evdev~=1.9
numpy~=2.2
oracledb~=3.1
pandas~=2.2
pillow~=11.2
pycparser~=2.22
pynput~=1.7
python-dateutil~=2.9
python-xlib~=0.33
pytz~=2025.2
six~=1.17
tzdata~=2025.2
winotify~=1.1
XlsxWriter~=3.2

